.table--thumb {
  max-width: 75px;
  max-height: 75px;
}

.table--updown span, .table--updown i {
  display: block;
  text-align: center;
}

.table--updown i:first-child:hover {
  color: orange;
  transition: 0.5s linear;
}

.table--updown i:last-child:hover {
  color: purple;
  transition: 0.5s linear;
}

.table--updown i {
  color: lightgrey;
  transition: 0.5s linear;
}

h1 {
	text-align: center;
	font-family: 'Bangers';
	font-size: 4em;
}

table thead tr th {
	text-align: center;
	font-family: 'Bangers';
	font-size: 2em;
}